<% content_for :title, "Editing user" %>

<div class="card">
  <div class="card-header"><i class="bi bi-pencil-square"></i> Edit User </div>
  <div class="card-body">
    <div class="card-group" id="users">
      <%= render "form", user: @user %>
    </div>
  </div>
</div>
<br>
<div>
  <a href="<%= user_url(user: @user) %>" class= "btn btn-info">Show User</a>
  <a href="<%= users_url %>" class="btn btn-primary"><i class="bi bi-people-fill"></i> Back to Users </a>
</div>