<% content_for :title, "New micropost" %>

<div class="card">
  <div class="card-header"><i class="bi bi-pencil-square"></i> New Micropost</div>
  <div class="card-body">
    <div class="card-group" id="microposts">
      <%= render "form", micropost: @micropost %>
    </div>
    <a href="<%= microposts_url %>" class="btn btn-danger float-end"><i class="bi bi-trash"></i> Cancel </a>
  </div>
</div>
